@import url("../waybar/colors/palette.css");

* {
	background-image: none;
	box-shadow: none;
	font-family: "AdwaitaMono Nerd Font Mono", monospace;
	font-size: 14px;
}

window {
	background-color: alpha(@primary_background, 0.9);
}

button {
    border-radius: 16px;
    border: 1px solid alpha(@bright_black, 0.6);
	text-decoration-color: @primary_foreground;
    color: @primary_foreground;
	background-color: @primary_background;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 10px;
	transition: all 0.3s ease;
}

button:focus, button:active, button:hover {
	background-color: #161b22;
	border-color: alpha(@bright_blue, 0.7);
	outline-style: none;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
